FLASK_ENV=development
DEV_DB_USER=mysql
DEV_DB_PASSWORD=NewPassword
DEV_DB_HOST=localhost
DEV_DB_NAME=stylemate_db
PRO_DB_USER=hogehoge
PRO_DB_PASSWORD=hogehoge
PRO_DB_HOST=hogehoge
PRO_DB_NAME=hogehoge